.card-body {
    background-color: #ccedff;
/* }

.card-shadow { */
    border-color : #0fabff;
    border-width: 4px;
}

.btn-primary {
    background-color: #0fabff;
    border: none;
}

.border {
    outline-color: #0fabff;
}

.border-secondary {
    background-color: #b6d7e9;
}

/* .navbar {
    background-color: #ccedff;
} */